<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"></meta>
		<title>Log for [% container_name %]</title>
		<style>

			body {
				background-color: #34495e;
				color: #ffffff;
				padding: 5px;
				font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace;
			}

		</style>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<script src=""></script>
		<script>

			$(document).ready( function() {
	
			});


		</script>
	</head>
	<body>
		<div id='log'>
			[% log %]
		</div>
	</body>
</html>
